body {
  font-family: "Raleway", sans-serif;
  }

.accordion1stOpen .Q .active {
  background-color: rgba(204, 255, 255, 0.6);
}

.accordionCollapsed .Q .active {
  background-color: rgba(204, 255, 255, 0.6);
}

.Qx {
  color: #cd2027;
  background-color: yellow;
  padding: 0;
  margin: 0;
}

/* Question styling */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background:rgba(56, 114, 114, .6);
}

/* Answer styling? */
.ui-corner-bottom {
  background:rgba(56, 114, 114, 0);
  border:0;
}