body {
    padding-top: 56px;
    background-color: rgb(241, 253, 253);
  }
  
  .bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
 
  .btn {
    width:15em;
  }